rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /visa_applications/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
